.thank-section {
    background-color: #1e1e1e;
    height: 100vh;
}

.thanks-button {
    text-align: center;
    padding: 16px 24px;
    background: linear-gradient(135deg, #370c14 0%, #280c23 100%);
    border-radius: 6px;
    color: #eeecec;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    border: 1px solid;
    border-color: rgba(212, 28, 61, 1);
}

.thanks-button:hover {
    color: #eeecec;
    border-color: rgba(212, 28, 61, 1);
}

.thanks-content h4 {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    color: #EEECEC;
}

.thanks-content p {
    width: 316px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #EEECEC;
}